body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

/*NavBar*/

#navbar img {
    width: 40px;

}

#navbar {
    background-color: #FFF;  
}

/* Style H1 */


/*select*/
#select-container {
    background-size: cover;
    background-position: center;
    height: 100px;
    padding: 50px;
}

/*ActiveList*/

.card{
    text-align: center;
}
.card-img-top{
    width: 200px;
}

.card-stock {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-sector {
    font-size: 14px;
}

.card-sector-green{
    color: rgb(19, 218, 19);
    font-size: 16px;

} 

/* Formulario da Model */

.title{
    font-weight: bold;
}

ion-icon{
    color: rgb(0, 110, 255);
}

.arrow-up{
    color: green;
}

.arrow-down{
    color: red;
}

.information-size{
    color: white;
    font-size: 26px;
} 